
@{
    ViewBag.Title = "Perfil";
}

@model  AmericanService.Models.Usuario

<body>
    <h1>Gestión de perfil</h1>
    <h3>Cédula: <input type="text" name="cedula" value=@Model.cedula style="text-align:center;"> </h3>
    <h3>Nombre: <input type="text" name="nombre" value=@Model.nombre style="text-align:center;"></h3>
    <h3>Apellidos: <input type="text" name="apellidos" value=@Model.apellidos style="text-align:center;"></h3>
    <h3>Cumpleaños: <input type="text" name="fecha_nacimiento" value=@Model.fecha_nacimiento style="text-align:center;"></h3>
    <h3>Fecha de ingreso: <input type="text" name="fecha_ingreso" value=@Model.fecha_ingreso style="text-align:center;"></h3>
    <h3>Estado: <input type="text" name="estado" value=@Model.estado style="text-align:center;"></h3>
    <h3>Desempeño: <input type="text" name="desempeno" value=@Model.desempeno style="text-align:center;"></h3>
    <h3>Supervisor: <input type="text" name="supervisor" value=@Model.supervisor style="text-align:center;"></h3>
    <input type="submit" value="Editar">
</body>




