<!-- "ARROBA"{
    ViewBag.Title = "Home Page";
}
-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Inicio de Sesión</title>
</head>

<body class="centered-wrapper">

    <header>
        <div class="logo container d-flex justify-content-center align-items-center">

        <img src="~/images/logo.png" alt="Logo" title="Sitio Web" width="800px">
        </div>

    </header>

    <section>

        @using (Html.BeginForm("Login", "Home"))
        {
            <div class="d-flex justify-content-center ">
                <div class="row">
                    <div class="form-group align-items-center container">
                        <label>Nombre de usuario</label>
                        <input type="text" class="form-control" id="userid" name="userid" />
                        <label>Contraseña</label>
                        <input type="password" class="form-control" id="pwd" name="pwd" /> <br />
                        <input type="submit" class="btn btn-primary" value="Aceptar" />

                    </div>
                    
                </div>
            </div>
            

        }

    </section>

</body>

