<!-- "ARROBA"{
    ViewBag.Title = "Home Page";
}
-->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>Inicio de Sesión</title>
</head>

<body>
    <header>
        <div class="logo">

        <img src="~/images/logo.png" alt="Logo" title="Sitio Web" width="800px">
        </div>

    </header>

    <section>
        @using (Html.BeginForm("Login", "Home"))
        {
            <label>User Name</label>
            <input type="text" class="form-control" id="userid" name="userid" />
            <label>Password</label>
            <input type="password" class="form-control" id="pwd" name="pwd" /> <br />
            <input type="submit" class="btn btn-success" value="Submit" />
        }
    </section>

</body>

